@use '../../../../abstract/var';

 .card-marked.especial {
    background-color: var.$color-accent;
    box-shadow: 0 0 12px color-mix(in oklch, var.$color-accent 40%, transparent);
}

.card{
    background-color: var.$color-card;
    border: 1px dashed oklch(81.935% 0.16797 84.522 / 0.499);
    border-radius: 1.1rem 0.4rem 1.1rem 0.4rem;
    padding: 1rem;
    aspect-ratio: 2/3;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;


    &:hover{
        cursor: pointer;
        border: 1px dashed var.$color-accent;


        .card__number{
            color: var.$color-accent;
            opacity: 1;
        }

    }


    .card__number{
        display: block;
         font-family: var.$font-body;
        font-weight: 700;
        font-size: 1rem;
        color: var.$color-foreground;
        opacity: 0.4;
    }

    .card__watermark{
        position: absolute;
        bottom:0.1rem;
        right: 0.3rem;
        font-family: var.$font-display;
        font-size: 4rem;
        color: var.$color-foreground;
        opacity: 0.04;
        line-height: 1;
        user-select: none;
    }
}

@media(max-width:1000px){
   .card{
        .card__watermark{
            font-size: 2.5rem;
        }
   }
}