@use '../../abstract/var';

.home{
    position: relative;
    z-index: 1;

    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
        text-align: center;

    .home__subtitle{
        border: 1px solid var.$color-accent;
        border-radius: 15px;
        padding: .5rem 1rem;
        letter-spacing: 0.1rem;
        color: var.$color-accent;
        text-transform: uppercase;
        font-weight: 500;
        
    }

    .home__title{
        margin: 0;
        text-transform: uppercase;
        font-family: var.$font-display;
        letter-spacing: 0.4rem;
        line-height: 9rem;
        font-size: 8rem;
        color: var.$color-foreground;
    }


    .home__description{
        line-height: 2rem;
        font-size: 18px;
        color: var.$color-foreground;
        opacity: .6;
    }
}


@media(max-width:1000px){
    .home{
        margin-top: 2rem;
        width: 90%;
    }
}