@use "../../abstract/var";

.background {
  width: 100vw;
  height: 100vh;  
  background:
    linear-gradient(to top, var.$color-background 30%, transparent 100%),
    url("/bloob-field-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  inset: 0;
  z-index: 0;
}

@media (max-width: 1000px) {
  .background {
    background:
      linear-gradient(to top, var.$color-background 20%, transparent 100%),
      url("/bloob-field-bg-mobile.png");
  }
}
